<div class="col h-100">
  <div class="card shadow-sm h-100" (click)="cardClick()">
    <img
      src="{{ flower.imageUrl }}"
      class="bd-placeholder-img card-img-top"
      width="100%"
    />

    <div class="card-body">
      <h5 class="card-title">{{ flower.title }}</h5>
      <p class="card-text">
        {{ flower.description }}
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center card-footer">
      <div class="btn-group">
        <a type="button" class="btn btn-sm btn-outline-secondary">
          {{ flower.priceDouble }} {{ flower.currency }}
        </a>
      </div>
      <small class="text-muted">{{ flower.group ? flower.group : "" }}</small>
    </div>
  </div>
</div>
